/* -------------------------------------------------------------------------- */
/*                             Master   shift + alt + x                       */
/* -------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.body {
    width: 100%;
    height: 100vh;
}




/* -------------------------------------------------------------------------- */
/*                            Header for all pages                            */
/* -------------------------------------------------------------------------- */
.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: 2px solid #dbdbdb;
}


.nav-area {
    list-style: none;
}


.nav-area li {
    display: inline-block;
    padding: 3.5px;
    text-transform: uppercase;
    text-decoration: none;
}


.nav-area li a {
    transition: .3s;
    color: black;
    text-decoration: none;
}


.nav-area li a:hover {
    color: #d22938;
}


button {
    background-color: #f9423d;
    color: #fff;

    text-decoration: none;
    font-size: 1rem;

    width: 100px;
    height: 40px;

    margin-left: 1rem;
    border: none;
    border-radius: 4px;
    outline: none;

    cursor: pointer;
    transition: all 0.4s ease-out;

}


button:hover {
    background-color: #337af1;
    transition: all 0.4s ease-out;
    cursor: pointer;
}


/* -------------------------------------------------------------------------- */
/*                              Header Responsive                             */
/* -------------------------------------------------------------------------- */


/* Iphone 5/SE */
@media screen and (max-width: 568px) {
    .headerContainer {
        padding: 1rem;
    }

    .nav-area li {
        display: inline-block;
        padding: 1px;
        text-transform: uppercase;
        text-decoration: none;
        font-size: .9rem;
    }

    button {
        margin-top: 1rem;
        margin-left: .8rem;

        font-size: 12px;
        width: 60px;
        height: 40px;
    }

    .header-title {
        font-size: 1rem;
    }
}




/* -------------------------------------------------------------------------- */
/*                                  Home Page                                 */
/* -------------------------------------------------------------------------- */
/*  div class container [main page container] */
.container {
    background-color: none;
    width: 70%;
    max-width: 1024px;
    margin: 0 auto;

    margin-block-start: 2em;
    margin-block-end: 2em;
}

.box-1 {
    margin-top: 30px;
}


/*  video container  */
.video-container {
    width: 560px;
    max-width: 315px;
    display: flex;
    justify-content: center;

    margin: 0 auto;
    border: none;
    padding-right: 2.5px;

}

.yt-video-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;

    margin-block-start: 2em;
    margin-block-end: 2em;
}


.yt-video-container iframe {
    position: absolute;
    top: 0%;
    left: 0%;

    width: 100%;
    height: 100%;
}


.rickroll {
    text-align: center;
    margin-block-end: 2em;
}



/* -------------------------------------------------------------------------- */
/*                                 Responsive                                 */
/* -------------------------------------------------------------------------- */

/* Iphone 5/SE */
@media screen and (max-width: 568px) {
    .rickroll {
        font-size: .5rem;
    }
}




/* -------------------------------------------------------------------------- */
/*                               Blog Page Card                               */
/* -------------------------------------------------------------------------- */
.blog-post-body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0 1.5rem;
}


.blog-post {
    width: 97%;
    max-width: 85.3rem;

    padding: 2.2rem;
    box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 2);

    display: flex;
    align-items: center;
    border-radius: .8rem;
}


.blog-post-img {
    min-width: 35rem;
    max-width: 35rem;

    height: 30rem;
    transform: translateX(-1rem);

    position: relative;
}


.blog-post-img img {
    width: 100%;
    height: 100%;

    object-fit: cover;

    display: block;
    border-radius: .8rem;
}


/* Color of the card picture */
.blog-post-img::before {
    content: '';

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background: linear-gradient(to right, rgb(51, 122, 241, .7),
            rgb(249, 66, 61, .8));
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    border-radius: .8rem;
}


.blog-post-date span {
    display: block;

    color: rgba(0, 0, 0, .5);

    font-size: 1.6rem;
    font-weight: 600;

    margin: .5rem 0;
}


.blog-post-title {
    font-size: 2.5rem;
    text-transform: uppercase;

    margin: 1.5rem 0 2rem;

    color: #337af1;
}


.blog-post-text {
    color: rgba(0, 0, 0, .7);
    margin-bottom: 3rem;

    max-width: 60ch;
    font-size: 1.4rem;
}


.blog-post-cta {
    display: inline-block;

    padding: 1.5rem 3rem;

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;

    background-color: #f9423d;
    color: #fff;

    border-radius: .8rem;
    text-decoration: none;
}


.blog-post-cta:hover {
    background-color: #337af1;

    transition: all 0.4s ease-out;
    cursor: pointer;
}




/* -------------------------------------------------------------------------- */
/*                            Responsive Blog cards                           */
/* -------------------------------------------------------------------------- */
@media (min-width:868px) and (max-width: 1068px) {
    .blog-post {
        max-width: 80rem;
    }

    .blog-post-img {
        min-width: 30rem;
        max-width: 30rem;
    }
}


@media (min-width:768px) and (max-width: 868px) {
    .blog-post {
        max-width: 70rem;
    }

}




/* Iphone 5/SE */
@media (max-width: 812px) {
    .blog-post-body {
        padding: 0 2.1rem;
    }

    .blog-post {
        padding: 10px;
        height: 550px;
    }

    .blog-post-img {
        height: 200px;

        min-width: 14rem;
        max-width: 14rem;

        transform: translateX(0.5rem);
        position: relative;

        transform: translateY(-9.9rem);
    }

    .blog-post-date {
        position: relative;
        top: 103px;
        right: 212px;
    }

    #col-2 {
        position: relative;
        top: 115px;
    }

    #col-3 {
        position: relative;
        top: 77px;
    }

    .blog-post-title {
        position: relative;
        top: 85px;
        right: 213px;

        font-size: small;
    }


    #blog-post-title-2 {
        position: relative;
        top: 98px;
    }
    
    #blog-post-title-3 {
        position: relative;
        top: 60px;
        font: 7.8px;
        margin-bottom: 1px;
        
    }


    .blog-post-text {
        position: relative;
        top: 56px;
        right: 213px;

        font-size: 0.8rem;
    }


    #blog-post-text-2 {
        position: relative;
        top: 75px;

        font-size: 10px;
    }


    #blog-post-text-3 {
        position: relative;
        top: 75px;

        font-size: 5px;
    }

    .blog-post-cta {
        position: relative;
        top: 80px;
        right: 173px;

        font-size: 1rem;
        
        padding: 0.6rem 0.5rem;
        border-radius: 0.2rem;
    }

}


/* -------------------------------------------------------------------------- */
/*                                 Photo Page                                 */
/* -------------------------------------------------------------------------- */
.photo-page-wrapper {
    width: 100%;
    max-width: 100vh;
    margin: auto;
    padding: 0 1.5rem;

    margin-block-start: 2em;
    margin-block-end: 2em;
}

/* Gallery Container */
#index-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
    "gallery-p gallery-p gallery-p gallery-p"
    "gallery-h2 gallery-h2 gallery-h2 gallery-h2"
    "img-1 img-2 img-3 img-4"
    "img-5 img-6 img-3 img-7";
}

#index-gallery .gallery-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}


/* Images */
#index-gallery p {
    grid-area: gallery-p;
    
}


#index-gallery h2 {
    grid-area: gallery-h2;
    
}


#index-gallery .img-1 {
    grid-area: img-1;
    background-image: url("../img/thumbs/img-1.jpg");
}


#index-gallery .img-2 {
    grid-area: img-2;
    background-image: url("../img/thumbs/img-2.jpg");
}


#index-gallery .img-3 {
    grid-area: img-3;
    background-image: url("../img/thumbs/img-3.jpg");
    height: 610px;
}


#index-gallery .img-4 {
    grid-area: img-4;
    background-image: url("../img/thumbs/img-4.jpg");
}


#index-gallery .img-5 {
    grid-area: img-5;
    background-image: url("../img/thumbs/img-5.jpg");
}


#index-gallery .img-6 {
    grid-area: img-6;
    background-image: url("../img/thumbs/img-6.jpg");
}


#index-gallery .img-7 {
    grid-area: img-7;
    background-image: url("../img/thumbs/img-7.jpg");
}


/* Gallery image titles */
.gallery-img div {
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* text styling */
.gallery-img a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}


/* Hover fx */
.gallery-img div:hover {
    opacity: 0.8;
    transition: all ease-in-out 100ms;
}


/* Popup window in js when clicked */
.img-window {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}


.img-window img {
    max-height: 80vh;
    max-width: 80vw;
}

/* -------------------------------------------------------------------------- */
/*                       /Responsive page for Photo Page                      */
/* -------------------------------------------------------------------------- */
@media (min-width: 900px) and (max-width: 1440px) {
    .audio-container {
        margin-left: 35rem;
        margin-bottom: 10px;
    }
}

@media (min-width: 600px) and (max-width: 900px) {
    .img-gallery {
        grid-template-areas:
            'img-1 img-1 img-2 img-2'
            'img-1 img-1 img-3 img-3'
            'img-4 img-4 img-5 img-5'

            'img-6 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';

    }

    .img-gallery a {
        height: 20rem;
    }

    .img-1 {
        min-height: 41.5rem;
    }

    .img-6 {
        min-height: 20rem;
    }
}


@media (min-width: 375px) and (max-width: 600px) {
    .img-gallery {
        grid-template-areas:
            'img-1 img-1 img-1 img-1'
            'img-2 img-2 img-2 img-2'
            'img-3 img-3 img-3 img-3'

            'img-4 img-4 img-4 img-4'
            'img-5 img-5 img-5 img-5'

            'img-6 img-6 img-6 img-6'
            'img-7 img-7 img-7 img-7'
            'img-8 img-8 img-8 img-8';

    }

    .img-gallery a,
    .img-1,
    .img-6 {
        min-height: 30rem;
        height: 30rem;
    }

    .audio-container {
        margin-left: 35rem;
        margin-bottom: 10px;
    }
}

@media (max-width: 375px) {
    .audio-container {
        margin-left: 2.2rem;
    }
}



/* -------------------------------------------------------------------------- */
/*                                Article Page                                */
/* -------------------------------------------------------------------------- */
/* The main articles texts */
.author-info {
    display: inline-block;
    margin-left: 15.6rem;
}


.author-info-2 {
    display: inline-block;

    margin-left: 15.6rem;
    margin-top: 1.2rem;
}


.pijonärer-idag {
    max-width: 60ch;
    overflow: hidden;

    font-size: 15.8px;
    letter-spacing: 1.2px;
    line-height: 24px;

    margin-left: 250px;
    margin-top: 1rem;
}


.article-link {
    max-width: 60ch;
    overflow: hidden;

    margin-left: 250px;
    margin-top: 2.5rem;

    margin-block-end: 1.2rem;
}


.articlepic {
    width: auto;
    height: 300px;

    display: flex;
    justify-content: center;

    margin-block-start: 1.2em;
    margin-block-end: 2em;
}


.articlepic-grid {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr;
}


.section-grid {
    width: 50%;
    height: 200px;

    display: grid;
    margin-left: 250px;
    grid-template-columns: 1fr 1fr;
}


.img-article-1,
.img-article-2 {
    width: 100%;
    height: 100%;

    margin-block-start: 0.6rem;
}


.john-kanye-img-description {
    display: grid;
    justify-content: space-evenly;

    margin-block-start: 1.2rem;
    margin-block-end: 1.2em;
}


.page-line-break {
    margin-left: 40.2rem;
    max-width: 60ch;
}



/* -------------------------------------------------------------------------- */
/*                           Responsive article page                          */
/* -------------------------------------------------------------------------- */
/* Macbook air 13 inch */
@media (min-width: 375px) and (max-width: 1440px) {
    .page-line-break {
        margin-left: 28.2rem;
        max-width: 60ch;
    }
}

@media (max-width: 375px) {
    .pijonärer-idag {
        margin-left: 0px;
        font-size: 10px;
    }

    .author-info {
        position: relative;
        right: 250px;
    }

    .author-info-2 {
        position: relative;
        right: 250px;
    }

    .articlepic {
        width: 267px;
        height: 160px;
    }

    .article-link {
        margin-left: 0px;
    }

    .section-grid {
        width: 135%;
        margin-left: -51px;
        height: 175px;
    }

    .footer {
        width: 71.4%;
    }
}



/* -------------------------------------------------------------------------- */
/*                                About Me Page                               */
/* -------------------------------------------------------------------------- */
/* Travi */
.aboutmep {
    position: absolute;
    top: 6.7rem;
    left: 20.5rem;

    height: 5.8rem;
    width: 39.6rem;
    margin-top: 2rem;
}


.main-content-about-me {
    display: inline-block;
    margin-left: 12.6rem;
}


.trav {
    width: auto;
    height: 454px;

    display: flex;
    justify-content: center;

    margin-block-start: 5.2em;
    margin-block-end: 2em;
}



/* -------------------------------------------------------------------------- */
/*                             Responsive about me                            */
/* -------------------------------------------------------------------------- */
@media (max-width: 375px) {
    .trav {
        height: 250px;
    }

    .main-content-about-me {
        margin-left: -1.9rem;
    }

    .aboutmep {
        left: -1.7rem;
        font-size: 9px;
        top: 8rem;
    }
}



/* -------------------------------------------------------------------------- */
/*                                Contact Page                                */
/* -------------------------------------------------------------------------- */
.contact-page-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.2);
}


.h1 {
    font-weight: normal;
    padding: 20px;
    color: none;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

    margin-block-start: 2rem;
    margin-block-end: 2rem;
}


.inside-form {
    padding: 30px;

    margin-block-end: 2rem;
}


.input-holder {
    position: relative;
    margin-bottom: 25px;
    text-align: left;
}


.input-text {
    width: 100%;
    height: 40px;
    border: 0.1px solid black;
}


/* Email Address, Full Name, Message etc..  */
.label {
    font-size: 18px;
}




/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */
.footer-container {
    background-color: #212329;
    padding: 4rem 0 2rem 0;
}


.footer {
    width: 80%;
    height: 40vh;

    background-color: #212329;
    color: #fff;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
}


.footer-heading {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
}


.footer-heading h2 {
    margin-bottom: 2rem;
}


.footer-heading a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


.footer-heading a:hover {
    color: red;
    transition: 0.3s ease-out;
}


.footer-email-form h2 {
    margin-bottom: 2rem;
}


#footer-email {
    width: 250px;
    height: 40px;

    border-radius: 4px;

    outline: none;
    border: none;

    padding-left: 0.5rem;
    margin-bottom: 1rem;

    font-size: 1rem;
}


#footer-email::placeholder {
    color: #b1b1b1;
}


#footer-email-btn {
    width: 100px;
    height: 40px;

    border-radius: 4px;
    background-color: #f9423d;

    outline: none;
    border: none;
    color: #fff;

    font-size: 1rem;
}


#footer-email-btn:hover {
    background-color: #337af1;
    cursor: pointer;
    transition: all 0.4s ease-out;
}




/* -------------------------------------------------------------------------- */
/*                              Responsive footer                             */
/* -------------------------------------------------------------------------- */


@media screen and (max-width: 1174px) {
    .footer {
        height: 1000px;
    }


    .footer-email-form {
        margin-top: 4rem;
    }
}


@media screen and (max-width: 1150px) {
    .footer {
        height: 1000px;
    }


    .footer-email-form {
        margin-top: 4rem;
    }
}


/* Ipad mini */
@media (min-width: 568px) and (max-width: 1024px) {
    .footer {
        display: grid;
        grid-template-columns: 1;
        height: 800px;
        width: 100%;
        margin-bottom: 30px;
    }


    .footer-heading {
        display: grid;
        grid-template-columns: 2;
    }

    .footer-3 {
        display: grid;
        width: 100%;

    }

    .footer-4 {
        margin-left: 1.2rem;
    }


    .footer-email-form {
        margin-top: .5rem;
        margin-bottom: 30px;
    }
}


/* Iphone 5/SE */
@media (max-width: 568px) {
    .footer {
        display: grid;
        grid-template-columns: 1;
        height: 800px;
        width: 100%;
        margin-bottom: 30px;
    }


    .footer-3 {
        display: grid;
        width: 100%;
    }

    .footer-4 {
        margin-left: 1.2rem;
    }


    .footer-email-form {
        margin-top: .5rem;
        margin-bottom: 30px;
    }
}